@import "variables.less";
@import "transition.less";

.ui-sidenav-active { 
	margin-left: 80%;
}

.ui-sidenav-transition {
	.transition(all, .3s, ease-out, 0);
}

/* .ui-sidenav, .container { */
.ui-sidenav {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;	
	z-index: 1;
	.ui-sidenav-transition;

	header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 60px;
		background-color: @gray-light;
		z-index: 99;
		
		
		.container {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #fff;	
			z-index: 1;
			border-bottom: 2px solid @gray-light;
			
			
			h1 {
				float: left;
				height:50px;
				padding: 15px 0 0 55px;
				margin:10px;
				background-image: url(../img/logo.png);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: left 0px;
			}
			
			.ui-sidenav-control {
				display: none;
			}
		}
		
		nav {
			position: relative;
			margin: 0 auto;
			text-align: left;
			z-index: 10;
			
			ul {
				padding: 20px 0;
	
				li {
					display: inline;
					padding: 2%;
				
					a:link, a:visited {
						display: inline-block;
						font-size: 1.2em;
						color: @white; 
						text-decoration: none;
					}
					
					a:hover, a.active {
						color: @red;
					}
				}
			}
		}
	}

}

@media (max-width: 768px) {
	
	.ui-sidenav {
		header {
			position: absolute;
			background-color: @white;
			
			.container {
				position: relative;
				background-color: @white;
				
				h1 {
					float: none;
				}
			
				.ui-sidenav-control {
					display: block;
					position: absolute;
					top: 10px;
					left: 10px;
					width: 40px;
					height: 40px;
					background-image: url(../img/menu-icon.svg);
					background-repeat: no-repeat;
					background-size: contain;
					cursor: pointer;
				}
			}
			
			nav {
				position: fixed;
				top: 0;
				left: 0;
				width: 80%;
				height: 100%;
				background-color: @gray-lightest;
				z-index:-1;
				
				
				ul {
				
					li {
						display: block;
						padding: 2%;
						
						a:link, a:visited {
							display: block;
							font-size: 1.2em;
							color: @white; 
							text-decoration: none;
						}
					
						a:hover, a.active {
							color: @red;
						}
					}
				}
			}
		}
	}
}